/* Option1
body {
  padding-top: 54px;
  /*background: url("https://www.toptal.com/designers/subtlepatterns/patterns/prism.png");*//*
  background-color: #363434;
  color: rgba(255, 255, 255);
  color: #efecec;
}
h1, h3{
  color: #efecec;
}
.navbar, .py-5{
  background-color: rgba(188, 201, 209, 0.95);
  background-color: #62929a;
}
.navbar-brand{
  color: #363434;
}
.navbar-brand:hover{
  color: rgb(25, 63, 88);
}
.nav-link{
  margin: 10px;
  color: #363434;
}
.nav-link:hover{
  color: rgb(25, 63, 88);
}
div.row {
  background-color: #5c5757;
}

.btn{
  background-color: rgb(25, 63, 88);
  border-color: rgb(230, 230, 230);
  
  color: rgba(232, 236, 238);
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
  div.col{
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
@media (max-width: 990px){
  div.col{
    padding-bottom: 5%;
  }
  div.col .btn{
    display: block;
  }
}
.pagination {
  margin-bottom: 15px;
}
*//* Opcion2
body {
  padding-top: 54px;
  background-color: #ebebe3;
  color: #ebebe3;
}
h1{
  color: #5c5757;
}
h3{
  color: #ebebe3;
}
.navbar, .py-5{
  background-color: #4a4a48;
}
.navbar-brand{
  color: #ebebe3;
}
.navbar-brand:hover{
  color: #c19898;
}
.nav-link{
  margin: 10px;
  color: #ebebe3;
}
.nav-link:hover{
  color: #c19898;
}
div.row {
  background-color: #2b2b28;
}

.btn{
  background-color: #c19898;
  border-color: #c19898;
  
  color: #2b2b28;
  
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
  div.col{
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
@media (max-width: 990px){
  div.col{
    padding-bottom: 5%;
  }
  div.col .btn{
    display: block;
  }
}
.pagination {
  margin-bottom: 15px;
}
*/
body {
  background-color: rgb(107, 107, 107);
  background-image: url("../images/background.png");
  color: rgb(6, 29, 31);
  font-family: 'Fauna One';
}
.container{ 
  padding-top:1%;
  background-color: #fd5a998c;
}
h1{
  color: rgb(78, 15, 54);
  text-align: center;
}
h2{
  color: rgb(78, 15, 54);
  font-size: 150%;
  text-align: center;
}
h3{
  color: rgb(78, 15, 54);
  font-size: 110%;
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
}
.aboutMe{
  text-align: center;
  font-size: 18.2px;
}
.photo{
  width:100%;
}
.gameImage{
  position: relative;
  top: 50%; 
}
.games{
  font-size: large;
}
.name{
  display:inline;
}
.icon{
  font-size: 50px;
  margin:auto;
  text-align: center;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}
.contact{
  text-align:left;
}
.foot{
  font-family: 'Cinzel';
  margin: 0 45px 0 45px;
  color: #000000;
}
.btn{
  background-color: #decdc3;
  border-color: #1d2323;
  
  color: #1d2323;
    
}
.btn:hover{
  background-color: #1d2323;
  border-color: #1d2323;
  
  color: #decdc3;
}
@media (max-width: 991px){
  div.col{
    padding-bottom: 5%;
    font-size: medium;
  }
  div.col .btn{
    display: block;
  }
}
@media (max-width: 767px){
  div.col{
    padding-bottom: 5%;
    font-size: large;
  }
  div.col .btn{
    display: block;
  }
}

/* Main projects */

/*.mainProjects .row{
  margin-top: 2%;
  margin-bottom: 2%;
}*/
.imageInAbout{
  margin-left: 50%;
  width: 50%;
  height: auto;
}
/* Random Stuff */

.randomStuff .row .col{
  margin-right: 4%;   
  margin-left: 4%;  
  text-align: center;
  padding: 0;
}

.random{
  display: block;
  margin: auto;
}

.imageInRandom{
  width: 100%;
  height: auto;
}

.textInRandom{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
}

/*Pop up*/
.popup{
  position:fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  background-color: #28393de1;
  z-index: 1040;
}
.imageContainer{
  width: 80vw;
  height: 70vh;
  display:flex;
}
.drawContainer{
  width: 100%;
  height: 70vh;
  display:flex;
}
.imgInDiv{
  max-width:100%;
  max-height:100%;
  margin: auto;
}
.textContainer{
  width: 80vw;
  height: 20vh;
  padding-top: 3vh;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
}

.pagination {
  margin-bottom: 15px;
}